<nav id="sidebar" [ngClass]="{'active': openSideBar}">
    <div class="sidebar-elements">

        <button routerLink="/index" (click)="closeSideBar()"><i class="text-center fas fa-home"></i> Inicio</button>

        <ng-container *ngFor= "let elem of menuItems">

            <button 
                *ngIf="elem.itemRoute.length; else elseBlock" 
                [routerLink]="elem.itemRoute"
                routerLinkActive="active"
                (click)="closeSideBar()"
            ><i class="text-center fas {{elem.icon}}"></i> {{elem.itemName}}</button>

            <ng-template #elseBlock>
                <button 
                    (click)="elem.isOpen = !elem.isOpen" 
                    [attr.aria-expanded]="!elem.isOpen" 
                    [attr.aria-controls]="elem.subMenuId"
                ><i class="text-center fas {{elem.icon}}"></i> {{elem.itemName}}</button>
                <div 
                    id="{{elem.subMenuId}}" 
                    class="sublist" 
                    [collapse]="!elem.isOpen"
                    [isAnimated]="true"
                >
                    <button 
                        *ngFor="let subitem of elem.subMenu" 
                        [routerLink]="subitem.itemRoute"
                        routerLinkActive="active"
                        (click)="closeSideBar()"
                    >{{ subitem.itemName }}</button>
                </div>
            </ng-template>
            
        </ng-container>

        <button (click)="logout()"><i class="text-center fas fa-sign-out-alt"></i> Cerrar sesión</button>
        
    </div>
</nav>
