<div class="row">
    <div class="col-12">
        <h3>Otras cosas</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info text-white"><b>
                Arriendo de bloques extra
            </b></div>
            <div class="card-body">
                <p class="card-text  text-justify">
                    Si su grupo requiere más espacio de almacenamiento en su bodega, usted puede arrendar bloques extra en otra bodega.
                    Para esto, solo rellene el siguiente formulario con los bloques solicitados.
                </p>
                <p class="card-text text-justify">
                    Al momento se le asignen los bloques solicitados, se le realizará el cargo indicado más abajo. Posteriormente, los dias siguientes se
                    les realizará el mismo cobro por motivos de arriendo mientras esté usando los bloques solicitados (los bloques originales de la bodega son
                    los que se utilizan primero). Si usted lo desea, puede cancelar el arriendo de los bloques, pero primero debe asegurarse que no esta
                    utilizándolos.
                </p>
                <form [formGroup]="rentBlocksForm" (ngSubmit)="onRentSubmit(rentBlocksForm.value)">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="rented">Bloques arrendados</label>
                            <input type="number" class="form-control" formControlName="rented" readonly>
                        </div>
                        <div class="form-group col-6">
                            <label for="actualCost">Costo arriendo actual</label>
                            <input type="string" class="form-control" formControlName="actualCost" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 col-lg-4">
                            <label for="arrended">Bloques solicitados</label>
                            <input type="number" min="0" max="1000000000" class="form-control" formControlName="requested" (keyup)="changeValue($event)">
                            <small id="emailHelp" class="form-text text-danger" [hidden]="requestedError.length == 0">{{requestedError}}</small>
                        </div>
                        <div class="form-group col-6 col-lg-4">
                            <label for="actualCost">Nuevo costo arriendo</label>
                            <input type="string" class="form-control" formControlName="newCost" readonly>
                        </div>
                        <div class="form-group col-6 col-lg-4">
                            <label for="actualCost">Cargo</label>
                            <input type="string" class="form-control" formControlName="charge" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">CONFIRMAR ARRIENDO</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
