<!-- MODAL ACTIVAR/DESACTIVAR-->
<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> {{titulo}} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{mensaje}}
    </div>
    <div class="modal-footer">
        <button *ngIf="!activo" type="button" class="btn btn-primary" (click)="desactivate(elemento)">DESACTIVAR</button>
        <button *ngIf="activo" type="button" class="btn btn-primary" (click)="activate(elemento)"> ACTIVAR</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
    </div>
</ng-template>
<!-- MODAL -->

<!-- MODAL AGREGAR GRUPO-->
<ng-template #modalGroup>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> AGREGAR GRUPO </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup">
            <div class="form-group">
                <label>Nombre Grupo:</label>
                <input type="text" class="form-control" formControlName="nombreGrupo">
            </div>
            <div class="form-group">
                <label>Dinero Total:</label>
                <input type="number" class="form-control" formControlName="dinero">
            </div>
            <div class="form-group">
                <label>Bloques Extra:</label>
                <input type="number" class="form-control" formControlName="bloquesExtra">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addGroup()"> AGREGAR</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">CANCELAR</button>
    </div>
</ng-template>
<!-- MODAL -->

<!-- MODAL AGREGAR CIUDAD-->
<ng-template #modalCity>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> AGREGAR CIUDAD </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formCity">
            <div class="form-group">
                <label>Nombre Ciudad:</label>
                <input type="text" class="form-control" formControlName="nombreCiudad">
            </div>
            <div class="form-group">
                <div class="row text-center">
                    <div class="offset-2 col-4">
                        <div class="row offset-1 text-center">
                            <label>Horar Abre:</label>
                        </div>
                        <timepicker [formControlName]="'horaAbre'"></timepicker>
                    </div>
                    <div class="offset-1 col-5">
                        <div class="row offset-1 text-center">
                            <label>Horar Cierre:</label>
                        </div>
                        <timepicker [formControlName]="'horaCierre'"></timepicker>
                    </div>
                </div>                
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addCity()"> AGREGAR</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">CANCELAR</button>
    </div>
</ng-template>
<!-- MODAL -->

<!-- MODAL AGREGAR PRODUCTO-->
<ng-template #modalProduct>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> AGREGAR PRODUCTO </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formProduct">
            <div class="form-group">
                <label>Nombre Producto:</label>
                <input type="text" class="form-control" formControlName="nombreProducto">
            </div>
            <div class="form-group">
                <label>Bloques:</label>
                <input type="number" class="form-control" formControlName="bloques">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addProduct()"> AGREGAR</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">CANCELAR</button>
    </div>
</ng-template>
<!-- MODAL -->

<div class="row">
    <div class="col-10">
        <h3>Juego: {{datosJuego.nombre}} </h3>
    </div>
    <div class="col-2">
        <button class="btn btn-primary btn-block" (click)="back()">
            <i class="fas fa-arrow-circle-left"></i> Regresar</button>
    </div>
</div>

<p></p>

<div>
    <tabset [justified]="true">
        <tab heading="General">
            <p></p>         
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-info text-white"><b>
                            Información
                        </b></div>
                        <div class="card-body">
                            <form [formGroup]="formData" (ngSubmit)="changeDataGeneral()">
                                <div class="row">
                                    <div class="form-group col-12 col-lg-4">
                                        <label>Nombre: </label>
                                        <input type="text" class="form-control" formControlName="nombre">
                                    </div>
                                    <div class="form-group col-12 col-lg-4">
                                        <label>Semestre: </label>
                                        <input type="text" class="form-control" formControlName="semestre">
                                    </div>
                                    <div class="form-group col-12 col-lg-4">
                                        <label>Año: </label>
                                        <input type="text" class="form-control" formControlName="año" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12 col-lg-4">
                                        <label>Fecha Inicio: </label>
                                        <input
                                                class="form-control"
                                                #datepickerYMD="bsDatepicker"
                                                bsDatepicker
                                                formControlName="fechaInicio"
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                    </div>
                                    <div class="form-group col-6 col-lg-4">
                                        <label>Fecha Fin: </label>
                                        <input
                                                class="form-control"
                                                #datepickerYMD="bsDatepicker"
                                                bsDatepicker
                                                formControlName="fechaFin"
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-success btn-lg btn-block">GUARDAR CAMBIOS</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Configuración">
            <p></p> 
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-info text-white"><b>
                            Información
                        </b></div>
                        <div class="card-body">
                            <form [formGroup]="formConfiguracion" (ngSubmit)="changeDataConfiguration()">
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Dinero inicial de los grupos: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="dineroInicial" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Cantidad de compras por ciudad al día: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="cantCompras" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Máximo de bloques del camión: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="maxCamion" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Máximo de bloques de la bodega: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="maxBodega" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Se puede comerciar entre grupos: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <ngx-switch [status]="true"
                                                    [onText]="'SI'"
                                                    [offText]="'NO'"
                                                    [onColor]="'green'"
                                                    [offColor]="'red'"
                                                    [size]="'large'"
                                                    (statusChange)="poderComerciar($event)">
                                        </ngx-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Se puede comprar bloques extra: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <ngx-switch [status]="true"
                                                    [onText]="'SI'"
                                                    [offText]="'NO'"
                                                    [onColor]="'green'"
                                                    [offColor]="'red'"
                                                    [size]="'large'"
                                                    (statusChange)="poderComprar($event)">
                                        </ngx-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Precio del bloque extra: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="precioBloqueEx" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Frecuencia de cobro del bloque extra (días): </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="diasBloqueEx" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Fecha del próximo cobro de bloque extra: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input
                                                class="form-control"
                                                #datepickerYMD="bsDatepicker"
                                                bsDatepicker
                                                formControlName="fechaCobroBloqueEx"
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Valor del impuesto del juego: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="valorImp" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Frecuencia de cobro del impuesto(días): </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="frecCobroImp" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Fecha del proximo cobro de impuesto: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input
                                                class="form-control"
                                                #datepickerYMD="bsDatepicker"
                                                bsDatepicker
                                                formControlName="fechaProxCobroImp"
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Rotación de lideres: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <ngx-switch [status]="true"
                                                    [onText]="'SI'"
                                                    [offText]="'NO'"
                                                    [onColor]="'green'"
                                                    [offColor]="'red'"
                                                    [size]="'large'"
                                                    (statusChange)="rotacion($event)">
                                        </ngx-switch>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Frecuencia de rotación líderes (días): </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input type="number" class="form-control" formControlName="frecRotaLideres" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 text-right">
                                        <label>Fecha de la proxima rotación de líderes: </label>
                                    </div>
                                    <div class="form-group col-4">
                                        <input
                                                class="form-control"
                                                #datepickerYMD="bsDatepicker"
                                                bsDatepicker
                                                formControlName="fechaProxRotaLideres"
                                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-success btn-lg btn-block">GUARDAR CAMBIOS</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>      
        </tab>
        <tab heading="Jugadores">
            <p></p>        
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block" (click)="addPlayer()">AGREGAR JUGADOR</button>
                </div>
            </div>
            <p></p>
            <custom-datatable [headers]="headersJugadores"
                              [data]="listaJugadores"
                              [rowIdName]="'idJugador'"
                              (eventHandler)="handleActions($event)">
            </custom-datatable>
        </tab>
        <tab heading="Grupos">
            <p></p>        
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block" (click)="openModal(modalGroup)">AGREGAR GRUPO</button>
                </div>
            </div>
            <p></p>
            <custom-datatable [headers]="headersGrupos"
                              [data]="listaGrupos"
                              [rowIdName]="'idGrupo'"
                              (eventHandler)="handleActions($event)">

            </custom-datatable> 
        </tab>
        <tab heading="Ciudades">  
            <p></p>        
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block" (click)="openModal(modalCity)">AGREGAR CIUDAD</button>
                </div>
            </div>
            <p></p>
            <custom-datatable [headers]="headersCiudades"
                              [data]="listaCiudades"
                              [rowIdName]="'idCiudad'"
                              (eventHandler)="handleActions($event)">

            </custom-datatable> 
        </tab>
        <tab heading="Productos">
            <p></p>        
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block" (click)="openModal(modalProduct)">AGREGAR PRODUCTO</button>
                </div>
            </div>
            <p></p>
            <custom-datatable [headers]="headersProductos"
                              [data]="listaProductos"
                              [rowIdName]="'idProducto'"
                              (eventHandler)="handleActions($event)">

            </custom-datatable>
        </tab>
        <tab heading="Historial">
            <p></p>        
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block" (click)="addRecord()">AGREGAR HISTORIAL</button>
                </div>
            </div>
            <p></p>
            <custom-datatable [headers]="headersHistorial"
                              [data]="listaHistorial"
                              [rowIdName]="'idHistorial'"
                              (eventHandler)="handleActions($event)">

            </custom-datatable> 
        </tab>
    </tabset>
</div>