<div class="row">
    <div class="col-12">
        <h3>Comercio de grupos</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form [formGroup]="socketData" (ngSubmit)="sendMessage(socketData.value)">
            <input type="text" class="form-control" placeholder="Message" formControlName="msg">
            <input type="text" class="form-control" placeholder="Data" formControlName="data">
            <button type="submit" class="btn btn-primary">ENVIAR</button>
        </form>
    </div>
</div>
