<h2>Listado de ciudades</h2>

<div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let ciudad of listaCiudades" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <div class="card">
            <img [src]="ciudad.nombreImagen || imageDefault" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ciudad.nombreCiudad}}</h5>
                <p class="card-text">Descripción breve</p>
                <button *ngIf="ciudad.comercioAbierto && !Profesor" class="btn btn-primary btn-block" (click)=[onSelectCiudad(ciudad.idCiudad)]>COMERCIAR</button>
                <button *ngIf="Profesor" class="btn btn-primary btn-block" (click)=[adminCiudad(ciudad.idCiudad)]>ADMINISTRAR</button>
                <button *ngIf="!ciudad.comercioAbierto" class="btn btn-danger btn-block">CERRADO</button>
            </div>
        </div>
    </div>
</div>