<modal-window
    modalTitle="Iniciar Sesión"
    modalType="other"
    confirmText="Ingresar"
    cancelText="Cancelar"
    (correcto)="print($event)"
    [showModal]="showModal"
>
    <div>
        <tabset>
            <tab heading="Alumno UCN" id="tab1">
                <div class="form-group">
                    <label for="exampleInputPassword1">ID Equipo</label>
                    <input type="text" class="form-control" [formControl]="idTeam" placeholder="Team001">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo UCN:</label>
                    <input type="email" class="form-control" [formControl]="email" placeholder="nombre.apellido@alumnos.ucn.cl">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" [formControl]="pass" placeholder="**********">
                </div>
            </tab>
            <tab heading="Profesor">
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo UCN:</label>
                    <input type="email" class="form-control" [formControl]="email" placeholder="nombre.apellido@alumnos.ucn.cl">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" [formControl]="pass" placeholder="**********">
                </div>
            </tab>
        </tabset>
    </div>
</modal-window>

<nav class="navbar fixed-top navbar-light navbar-color shadow">
    <button 
        type="button" 
        class="sidebar-open-button btn btn-outline-light"
        (click)="isMenuOpen = !isMenuOpen"
        tooltip="Abrir/Cerrar menú lateral"
        placement="right" 
    >
        <i class="fas fa-bars"></i>
    </button>

    <a routerLink="/" class="navbar-brand text-white font-weight-bolder">{{menuTitle}}</a>

    <li class="nav-item form-inline">
        <ng-template #popText>
            Dinero Total: $ {{groupInfo.dineroActual}}.
            <br>Bloques Usados: {{groupInfo.bloquesUsados}}.
            <br>Bloques Disponibles: {{groupInfo.bloquesDisponibles}}
        </ng-template>
        <button type="button" class="btn btn-outline-light" 
            popoverTitle="{{groupInfo.nombreGrupo}}"
            [popover]="popText"
            placement="left top"
            triggers="focus">
            <i class="fas fa-info-circle"></i>
        </button>
         
        <button style="margin-left: 5px;" type="button" (click)="showModal = !showModal" class="btn btn-outline-light">Iniciar Sesión</button>
    </li>
</nav>

<div class="wrapper">

    <app-sidebar [openSideBar]="isMenuOpen" (closeBar)="isMenuOpen = false" ></app-sidebar>

    <div class="overlay" [ngClass]="{'active': isMenuOpen}" (click)="isMenuOpen = !isMenuOpen"></div>

    <div class="router-container">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
