<div *ngIf="cargando" class="overlay-spinner" >
    <div class="spinner-wrapper">
        <img class="img-responsive" width="auto" src="assets/charge.svg">
    </div>
</div>

<!-- modal-window
    modalTitle="Iniciar Sesión"
    modalType="other"
    modalContent=""
    confirmText="Ingresar"
    cancelText="Cancelar"
    (correcto)="login($event)"
    [showModal]="showModal"
></modal-window -->

<nav class="navbar fixed-top navbar-light navbar-color shadow">
    <button 
        *ngIf="logueado" 
        type="button" 
        class="sidebar-open-button btn btn-outline-light"
        (click)="isMenuOpen = !isMenuOpen"
        tooltip="Abrir/Cerrar menú lateral"
        placement="right" 
    >
        <i class="fas fa-bars"></i>
    </button>

    <a routerLink="/" class="navbar-brand text-white font-weight-bolder">{{menuTitle}}</a>

    <li class="nav-item form-inline text-white">{{ actualTime.toFormat("dd/MM/yyyy HH:mm:ss") }}</li>
    
</nav>

<div class="wrapper">

    <app-sidebar *ngIf="logueado" [openSideBar]="isMenuOpen" [rolUser]="rol" (closeBar)="isMenuOpen = false" (logoutAction)="logOut()"></app-sidebar>

    <div *ngIf="logueado" class="overlay-menu" [ngClass]="{'active': isMenuOpen}" (click)="isMenuOpen = !isMenuOpen"></div>

    <div class="router-container" [ngClass]="{'hide': !logueado}">
        <div class="container-fluid"><router-outlet></router-outlet></div>
    </div>

</div>  

<Angular-Bootstrap-Toasts-Container [Placement]="toastProperties" Width="300px" [Classes]="toastClasses"></Angular-Bootstrap-Toasts-Container>