<div class="row">
    <div class="col">
        <h3>Administración de ciudades</h3>
        <h6><b>Nombre Juego: </b>{{gameName || ''}}</h6>
        <h6><b>Nombre Ciudad: </b>{{cityName || ''}}</h6>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> ATRÁS
        </button>
    </div>
</div>

<tabset *ngIf="ciudadData" [justified]="true" class="bordered">
    <tab heading="CONFIGURACIÓN" id="genTab">
        <div class="card mb-4">
            <div 
                class="card-header card-header-collapse bg-info text-white" 
                (click)="collapsedGeneralHelp = !collapsedGeneralHelp" 
                [attr.aria-expanded]="!collapsedGeneralHelp"
                aria-controls="generalHelp"
            >
                <b>INFORMACIÓN (CLIC PARA VER)</b>
            </div>
            <div class="card-body" id="generalHelp" [collapse]="collapsedGeneralHelp" [isAnimated]="true"> 
                <p class="card-text">
                    En este apartado usted podrá editar la información de su ciudad. Entre estos el nombre,
                    la descripción y los horarios de apertura y cierre.
                </p>
                <p class="card-text">
                    Para cambiar los datos, solo debe modificar lo que necesite en el campo correspondiente,
                    y luego pulsar en el botón "GUARDAR CAMBIOS".
                </p>
            </div>
        </div>
        <div class="row" [formGroup]="ciudadData">
            <div class="col-lg-6">
                <div class="form-group">
                    <label><b>Nombre de ciudad:</b></label>
                    <input type="text" class="form-control" formControlName="nombreCiudad">
                </div>
                <div class="form-group">
                    <label><b>Hora de apertura:</b></label>
                    <timepicker 
                        formControlName="horaAbre"
                        [showMinutes]="true"
                        [showSeconds]="true"
                        [showMeridian]="false" 
                        [mousewheel]="false"
                        [showSpinners]="false"
                    ></timepicker>
                </div>
                <div class="form-group">
                    <label><b>Hora de cierre:</b></label>
                    <timepicker 
                        formControlName="horaCierre"
                        [showMinutes]="true"
                        [showSeconds]="true"
                        [showMeridian]="false" 
                        [mousewheel]="false"
                        [showSpinners]="false"
                    ></timepicker>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label><b>Descripción:</b></label>
                    <textarea class="form-control" rows="6" formControlName="descripcion"></textarea>
                </div>
            </div>
        </div>  
        <div class="row">
            <div *ngIf="!editingGeneralData" class="col text-center">
                <button class="btn btn-warning" (click)="toggleGeneralData()">
                    <i class="fas fa-edit"></i> EDITAR
                </button>
            </div>
            <div *ngIf="editingGeneralData" class="col text-center">
                <button class="btn btn-primary" (click)="saveGeneralData()">
                    <i class="fas fa-save"></i> GUARDAR CAMBIOS
                </button>
                <button class="btn btn-secondary ml-1" (click)="toggleGeneralData()">CANCELAR</button>
            </div>
        </div>
    </tab>
    <tab heading="PRODUCTOS" id="prodTab">
        <custom-datatable
            [data]="productList"
            [headers]="productListHeaders"
            [rowIdName]="'idProducto'"
            (eventHandler)="dtProductsHandler($event)"
        ></custom-datatable>
        <div class="text-center">
            <button class="btn btn-primary mt-2" (click)="saveProductsData()"><i class="fas fa-save"></i> ACTUALIZAR PRODUCTOS</button>
        </div>
    </tab>
    <!-- <tab heading="HISTORICO COMPRAS" id="historyTab">
        <p>Trabajando en ello :B</p>
        <custom-datatable
            [data]="buyHistoricData"
            [headers]="buyHistoricHeaders"
        ></custom-datatable>
    </tab> -->
</tabset>