<div class="row">
    <div class="col-10">
        <h3>Ventana administración de ciudades</h3>
        <h5>Bienvenido usted está administrando la ciudad de {{ciudadData.nombreCiudad || ''}}</h5>
    </div>
    <div class="col-2">
        <button class="btn btn-primary btn-block" (click)="saveChanges()">GUARDAR CAMBIOS</button>
    </div>
</div>


<div class="col-12">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <th scope="col">Nombre Producto</th>
            <th scope="col">Bloques</th>
            <th scope="col">Precio Compra</th>
            <th scope="col">Precio Venta</th>
            <th scope="col">Variable 1</th>
            <th scope="col">Variable 2</th>
            <th scope="col">Variable 3</th>
            <th scope="col">Variable 4</th>
        </thead>
        <tbody *ngFor="let prod of compras">
            <tr>
                <th>{{prod.nombreProducto}}</th>
                <td>{{prod.bloquesTotal}}</td>
                <td>$ {{prod.precioCompra}}</td>
                <td>$ {{prod.precioVenta}}</td>
                <td>
                    <button class="btn btn-success btn-block" >+</button>
                    <button class="btn btn-danger btn-block" >-</button>
                </td>
                <td>
                    <button class="btn btn-success btn-block" >+</button>
                    <button class="btn btn-danger btn-block" >-</button>
                </td>
                <!-- <td><input type="number" [formControl]="prod.cantCompra" class="form-control"></td>
                <td><input type="number" [formControl]="prod.cantVenta" class="form-control"></td> -->
            </tr>
        </tbody>
    </table>
</div>