<div class="row">
    <div class="col-10">
        <h3>Información de los Alumnos</h3>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead class="thead-dark text-center">
        <th scope="col">Nombre Alumno</th>
        <th scope="col">Correo</th>
        <th scope="col">Carrera</th>
        <th scope="col">Acción</th>
    </thead>
    <tbody *ngFor="let prod of [1,1]">
        <tr>
            <th>asda</th>
            <td>adsda</td>
            <td> asda</td>
            <td>asdsad</td>
        </tr>
    </tbody>
</table>