<div class="row">
    <div class="col-10">
        <h3>Administración General de Datos</h3>
    </div>
</div>

<div>
    <tabset [justified]="true">
        <tab heading="Carreras">
            <p></p> 
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block" (click)="addCarrer()">AGREGAR CARRERA</button>
                </div>
            </div>
            <p></p>
            <custom-datatable [headers]="headersCarrera"
                              [data]="listaCarreras">
            </custom-datatable>
        </tab>
        <tab heading="Profesores">
            <p></p>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block" (click)="addTeacher()">AGREGAR PROFESOR</button>
                </div>
            </div>
            <p></p>
            <custom-datatable [headers]="headersProfesores"
                              [data]="listaProfesores">
            </custom-datatable>
        </tab>
        <tab heading="Alumnos">
            <p></p>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success btn-block" (click)="addStudent()">AGREGAR ALUMNO</button>
                </div>
            </div>
            <p></p>
            <custom-datatable [headers]="headersAlumnos"
                              [data]="listaAlumnos">
            </custom-datatable>
        </tab>
    </tabset>
</div>