<div class="row">
    <div class="col-10">
        <h3>Ventana de compra</h3>
        <h5>Bienvenido a {{ciudadData.nombreCiudad || ''}}</h5>
    </div>
    <div class="col-2">
        <button class="btn btn-primary btn-block" (click)="generateTransaction()">GENERAR CAMBIO</button>
    </div>
</div>

<div class="row">
    <div *ngFor="let alert of alerts" class=" col-10">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <th scope="col">Nombre Producto</th>
                <th scope="col">Cantidad Comprar</th>
                <th scope="col">Cantidad Vender</th>
            </thead>
            <tbody *ngFor="let prod of carrito">
                <tr>
                    <th>{{prod.nombreProducto}}</th>
                    <td>{{prod.cantidadComprar}}</td>
                    <td>$ {{prod.cantidadVender}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-7 text-right">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <th scope="col">Nombre Producto</th>
                <th scope="col">Bloques</th>
                <th scope="col">Precio Compra</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Cantidad Comprar</th>
                <th scope="col">Cantidad Vender</th>
            </thead>
            <tbody *ngFor="let prod of compras">
                <tr>
                    <th>{{prod.nombreProducto}}</th>
                    <td>{{prod.bloquesTotal}}</td>
                    <td>$ {{prod.precioCompra}}</td>
                    <td>$ {{prod.precioVenta}}</td>
                    <td>
                        <button class="btn btn-success btn-block" (click)="addBuy(prod.nombreProducto, prod.idProducto)">+</button>
                        <button class="btn btn-danger btn-block" (click)="minusBuy(prod.nombreProducto, prod.idProducto)">-</button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-block" (click)="addSell(prod.nombreProducto, prod.idProducto)">+</button>
                        <button class="btn btn-danger btn-block" (click)="minusSell(prod.nombreProducto, prod.idProducto)">-</button>
                    </td>
                    <!-- <td><input type="number" [formControl]="prod.cantCompra" class="form-control"></td>
                    <td><input type="number" [formControl]="prod.cantVenta" class="form-control"></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>