/* TAMAÑOS */
$md-min-width: 768px;
$md-max-width: 767.98px;

/* COLORES MENU */
$menu-background-color: #406cff;
$menu-text-color: #ffffff;

$menu-hover-background-color: #ffffff;
$menu-hover-text-color: #2144b9;

$menu-press-background-color: #163aaf;
$menu-press-text-color: #ffffff;

$menu-active-background-color: #0c2883;
$menu-active-text-color: #ffffff;

$submenu-background-color: #1b50ff;
$submenu-text-color: #ffffff;

/* COLORES BOTONES */