@import '~bootstrap/scss/bootstrap';
@import 'vars';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-file-label {
    &::after {
        content: "Elegir";
    }

    &.no-button {
        text-align: center;
        overflow-x: hidden;
        overflow-y: hidden;
        &::after {
            display: none !important;
        }
    }

}

.nav-tabs {
    margin-bottom: 0px;
    border-bottom: 1px solid gray;

    li.nav-item {

        .active {
            color: black !important;
            background-color: white !important;
            border-bottom: 1px solid transparent !important;

            margin-bottom: 0px;
            border-radius: 10px;
        }

        .nav-link {
            background-color: $menu-background-color;
            color: white;
            
            border-left: 1px solid gray;
            border-bottom: 1px solid gray;
            border-radius: 0px;

            text-decoration: none;

            &:first-child {
                border-left: 0px solid gray;
            }

            &:hover {
                background-color: lighten($menu-background-color, 10);
                color: white;
            }

            &:active {
                background-color: $menu-press-background-color;
                color: white !important;
            }
        }
    }
}

.card-header-collapse {
    cursor: pointer;
    transition: background-color 0.2s;
    @each $type,$value in $theme-colors {
        &:hover  { &.bg-#{$type} { background-color: lighten($color: $value, $amount: 9) !important; } }
        &:active { &.bg-#{$type} { background-color: darken($color: $value, $amount: 9) !important; } }
    }
}