@use "sass:map";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "vars";

/* Eliminar spinner de los input[name] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Input[file] modificado
.custom-file-label {
  &::after { content: "Elegir"; }

  &.no-button {
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    &::after {
      display: none !important;
    }
  }
}

tabset.bordered {
  ul.nav-tabs {
    border: 1px solid #dee2e6; 
  }
  .tab-content {
    border: 1px solid #dee2e6;
    border-top: 0px;
  }
}

ul.nav-tabs {
  li.nav-item {
    margin-bottom: 0px;

    a.nav-link {
      transition: background-color 0.2s;
      
      background-color: $primary;
      color: white;

      border: 0px;
      border-radius: 0px;

      text-decoration: none;
      border-bottom: 5px solid transparent !important;

      &.active {
        border: 0px;
        border-bottom: 5px solid white !important;
      }

      &:hover {
        border: 0px;
        background-color: lighten(map-get($theme-colors, 'primary'), 20);
        color: white;
      }

      &:active {
        border: 0px;
        background-color: darken(map-get($theme-colors, 'primary'), 20);
        color: white !important;
      }
    }
  }
}

.tab-container {
  .tab-content {
    .tab-pane {
      padding: 20px;
    }
  }
}

// FORMATO COLLAPSE PARA LOS CARDS
.card-header-collapse {
  cursor: pointer;
  transition: background-color 0.2s;
  @each $type,$value in $theme-colors {
    &:hover  { &.bg-#{$type} { background-color: lighten($value, 9) !important; } }
    &:active { &.bg-#{$type} { background-color: darken($value, 9) !important; } }
  }
}

// ELIMINAR MARGEN INFERIOR DE LOS PAGINADORES
ul.pagination {
  margin-bottom: 0px;
}

.bootstrap-switch.bootstrap-switch-large {
  max-width: 240px;
  width: 100% !important;
}