@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import '../../../vars';

.login-panel {
    margin-top: 30px;
}

.welcome-card {
    border: 1px solid black;
    background-color: $primary;
    color: white;
    padding: 20px;

    .title {
        text-align: center;
    }
    .descripcion {
        text-align: justify;
    }
}

.login-card {
    padding: 0px;
    border: 1px solid black;
}

.welcome-card, .login-card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.50);
}

@media (max-width: $md-max-width) {
    .welcome-card {
        display:none;
    }
    .login-panel {
        margin: 0px 5px;
    }
}