<div class="row">
    <div class="col-10">
        <h3>Importar grupos mediante EXCEL</h3>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="card">
            <div class="card-header bg-secondary text-white"><b>INFORMACIÓN</b></div>
            <div class="card-body">
                <div class="custom-file mb-2">
                    <input id="studentExcel" type="file" class="custom-file-input" (change)="handleFileInput($event.target.files)" data-browse="Elegir">
                    <label class="custom-file-label no-button" for="studentExcel">
                        <b>{{ groupsExcelFile ? groupsExcelFile.name : "Pulse aquí para seleccionar un archivo .xlsx"}}</b>
                    </label>
                </div>
                <p *ngIf="groupsExcelFile" class="card-text"><b>Datos Correctos: </b> {{ correctRows }}</p>
                <p *ngIf="groupsExcelFile" class="card-text"><b>Datos Incorrectos: </b> {{ incorrectRows }}</p>
                <p *ngIf="groupsExcelFile" class="card-text"><button class="btn btn-primary btn-block mt-2" (click)="submitGroups()">SUBIR DATOS</button></p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-8 col-xl-9 mt-lg-0 mt-3">
        <div class="card">
            <div class="card-header bg-info text-white"><b>INSTRUCCIONES</b></div>
            <div class="card-body">
                <p class="card-text">
                    Para subir datos de los grupos, deberá subir un archivo Excel con una hoja llamada <b>"GRUPOS"</b> (sin comillas). La primera fila debe 
                    contener las cabeceras de las columnas en mayúsculas, mientras que los datos de cada grupo deben colocarse en cada fila siguiente. Los datos solicitados
                    son los siguientes:
                </p>
                <ul>
                    <li><b>NOMBRE_GRUPO: </b>El rut del alumno en formato 'XX.XXX.XXX-X', 'XXXXXXXX-X' o 'XXXXXXXXX'.</li>
                    <li><b>RUT_1: </b> El RUT del jugador 1 en formato 'XX.XXX.XXX-X', 'XXXXXXXX-X' o 'XXXXXXXXX'.</li>
                    <li><b>RUT_2: </b> El RUT del jugador 2 en formato 'XX.XXX.XXX-X', 'XXXXXXXX-X' o 'XXXXXXXXX'.</li>
                    <li><b>RUT_3: </b> El RUT del jugador 3 en formato 'XX.XXX.XXX-X', 'XXXXXXXX-X' o 'XXXXXXXXX'.</li>
                    <li><b>... </b> </li>
                    <li><b>RUT_N: </b> El RUT del jugador N en formato 'XX.XXX.XXX-X', 'XXXXXXXX-X' o 'XXXXXXXXX'.</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div *ngIf="groupsExcelFile" class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success text-white"><b>DATOS CORRECTOS (CLIC PARA MOSTRAR/OCULTAR)</b></div>
            <div class="card-body">
                <custom-datatable 
                    *ngIf="data.correct.length > 0"
                    [data]="data.correct" 
                    [headers]="excelHeaders"
                ></custom-datatable>
            </div>
        </div>
    </div>
</div>

<div *ngIf="groupsExcelFile" class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-danger text-white"><b>ERRORES (CLIC PARA MOSTRAR/OCULTAR)</b></div>
            <div class="card-body">
                <p *ngIf="data.errors.length == 0" class="card-text">No hay errores en el archivo.</p>
                <p *ngIf="data.errors.length > 0" class="card-text">
                    Las siguientes filas contienen errores. Estos alumnos no se ingresarán.
                </p>
                <custom-datatable 
                    *ngIf="data.errors.length > 0"
                    [data]="data.errors" 
                    [headers]="excelHeaders"
                ></custom-datatable>
            </div>
        </div>
    </div>
</div>