<div class="row">
    <div class="col-10">
        <h3>Información de los Grupos</h3>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead class="thead-dark text-center">
        <th scope="col">Nombre Grupo</th>
        <th scope="col">Dinero Actual</th>
        <th scope="col">Bloques Extra</th>
        <th scope="col">Acción</th>
    </thead>
    <tbody *ngFor="let prod of [1,1]">
        <tr>
            <th>asda</th>
            <td>adsda</td>
            <td> asda</td>
            <td><button class="btn btn-primary btn-block" (click)="showDetailGroup()">Ver Detalles</button></td>
        </tr>
    </tbody>
</table>