<modal-window
    modalTitle="Deshabilitar Grupo"
    modalType="other"
    confirmText="Sí, Deshabilitar"
    cancelText="Cancelar"
    (correcto)="finishGame($event)"
    [showModal]="showModalFinish"
>
    <div>
        Esta acción deshabilitará el grupo del sistema, si desea continuar presione Sí.
    </div>
</modal-window>

<div class="row">
    <div class="col-9">
        <h3>Administración de Juegos</h3>
    </div>
</div>

<div class="row">
    <div class="col-9 text-left">
        <button class="btn btn-primary"> Agregar</button>
    </div>
    <div class="col-3 text-right">
        <button class="btn btn-primary btn-block"> Buscar</button>
    </div>
</div>

<p></p>

<custom-datatable 
    [data]="listaJuegos"
    [headers]="headersJuegos"
    [rowIdName]="'idJuego'"
    (eventHandler)="eventHandler($event)"
></custom-datatable>
